@model IEnumerable<HomeCooking.Models.TheoDoiThucPham>
@{
    ViewData["Title"] = "Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main id="main" role="main">
    <section data-section-id="account" data-section-type="account">
        <div class="container container--flush">
            <div class="layout">
                <!--list tác vụ-->
                <div class="layout__section layout__section--secondary">
                    <div class="card card--sticky hidden-pocket">
                        <div class="card__section card__section--tight">

                            <div class="card__linklist">
                                <a href="@Url.Action("Index","Account")" class="card__linklist-item link ">Thông tin cá nhân</a>
                                <a href="@Url.Action("Invoice","Account")" class="card__linklist-item link ">Đơn hàng của tôi </a>
                                <a href="@Url.Action("FollowedFood","Account")" class="card__linklist-item link text--strong">Thực phẩm đã theo dõi</a>
                                <a href="@Url.Action("KhoBep","Account")" class="card__linklist-item link">Kho bếp của tôi</a>
                                <a href="#" class="card__linklist-item link" data-no-instant="" onclick="logOutTK()">Đăng xuất</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--layout tác vụ -->
                <div class="layout__section">
                    <div class="card">
                        <div class="card__section card__section--tight">
                            <h1 class="heading h1"> Các thực phẩm đã theo dõi </h1>
                        </div>
                        <div class="card__section">
                            <table class="table" border="1">
                                <tr style="background-color:gray">
                                    <th>
                                        Id theo dõi
                                    </th>
                                    <th>
                                        Tên thực phẩm
                                    </th>
                                    <th>
                                        Số lượng trên một sản phẩm
                                    </th>
                                    <th>
                                        Đơn vị tính
                                    </th>
                                    <th>
                                        Tình trạng
                                    </th>
                                    <th>
                                        Thao tác
                                    </th>
                                </tr>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IdTheoDoi)
                                        </td>
                                        <td>
                                            <a href="@Url.Action("Index","Food", new { id = item.IdFood })">
                                                @Html.DisplayFor(modelItem => item.IdFoodNavigation.NameFood)
                                            </a>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IdFoodNavigation.SoLuong)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IdFoodNavigation.DonViTinh)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IdFoodNavigation.Status)
                                        </td>
                                        <td>
                                            <a asp-action="DeleteFollowedFood" asp-route-id="@item.IdTheoDoi">Bỏ theo dõi</a>
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
